/*
 * Base
 */

@font-face {
  font-family: Bilbo Swash Caps;
  src: url('../font/BilboSwashCaps-Regular.ttf');
}

@font-face {
  font-family: Parisienne;
  src: url('../font/Parisienne-Regular.ttf');
}

.site-font {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: "Times New Roman", Times, serif;
}

.font-BilboSwashCamps {
  font-family: 'Bilbo Swash Caps', cursive;
}

.font-Parisienne {
  font-family: 'Parisienne', cursive;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.row {
  padding: 0;
  margin: 0;
  border: 0;
}

.color1 {
  color: #00ab94;
}


/* Links */
a{
  /* color: #f2f2f2; */
  text-decoration: none;
}
a:focus,
a:hover {
  /* color: #f2f2f2; */
  text-decoration: none;
}

/*
 * components
 */

 .welcome-block-1 {
  margin: 0 0 50px 0;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.left-bar,
.show-page {
  padding: 0;
  margin: 0;
  border: 0;
}

.content-separator {
display: block;
content: "";
width: 25px;
height: 3px;
background: #000;
margin: 85px auto 0;
border-radius: 1px;
}